@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --main-text-color: #24242E;
  --second-dark-color: #353542;
  --lighter-text-color: #fff; 
  --main-blue-color: #1E489B;
  --shape-gray-color: #DCDCDC;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

.container {
    max-width: 1140px;
    margin: auto;
    height: 100%;
}

.btn {
  background: var(--main-blue-color);
  color: var(--lighter-text-color);
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
}


/* HEADER */

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  height: 7rem;
  background: var(--lighter-text-color);
  opacity: .99;
}

.header-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper ul {
    list-style: none;
    display: flex;
}

.header-wrapper ul li {
    padding: 0 1.7rem;
    font-size: 1.4rem;
    font-weight: bold;
}

.header-logo {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.header-tel {
    text-align: end;
    display: flex; 
    flex-direction: column;
    font-size: 1.8rem;
}

.header-tel__call {
    font-size: 1.4rem;
    color: var(--main-blue-color);
}

/* WELCOME */

.welcome {
  padding-top: 4rem;
  min-height: 100vh;
  background: url(./Img/bg1.jpg) center center no-repeat;
  
}

.welcome-wrapper {
  display: flex;
  flex-direction: column;
}

.welcome-text {
  margin-top: 6.5rem;
}

.welcome-text__title {
  font-size: 4rem;
  font-weight: 700;
  max-width: 60rem;
}

.blue-line {
  color: var(--main-blue-color);
}

.welcome-text__subtitle {
  font-size: 1.8rem;
  font-weight: normal;
}

.welcome-icons {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 81rem;
}

.welcome-icons__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-icons__item p {
  max-width: 16.5rem;
  font-size: 1.5rem;
}

.welcome-wrapper__btn {
  width: 27.8rem;
  height: 6.3rem;
  margin-top: 12rem;
  margin-bottom: 31.7rem;
}

/* ABOUT */

.about {
  padding-top: 3rem;
  position: relative;
}

.about__title {
  max-width: 55rem;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
}

.about-video {
  position: relative;
  margin-top: 4rem;
  width: 75rem;
  height: 44rem;
}

.about-video__play {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -5rem;
  top: 50%;
  background: var(--main-text-color);
  z-index: 10;
  width: 10rem;
  height: 12.5rem;
  transform: skew(-20deg) translateY(-50%);
}

.about-video__play-icon {
  width: 0;
  height: 0;
  transform: skew(20deg);
  border-top: 1.5rem solid transparent;
  border-left: 2.5rem solid var(--lighter-text-color);
  border-bottom: 1.5rem solid transparent;
}

.about__btn {
  margin-top: 5rem;
  margin-bottom: 7rem;
  width: 27.8rem;
  height: 6.3rem;
}

.about__lines {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* FEATURES */

.features {
  padding-top: 2rem;
}

.features__title {
  font-size: 4rem;
  max-width: 78rem;
}

.features-blocks {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 6rem;
}

.features-item {
  max-width: 50rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 4rem 0;
}

.features-item:nth-child(3n+1) .features-item__parallelogram, .features-item:nth-child(5) .features-item__parallelogram {
  background: var(--shape-gray-color);
}


.features-item__parallelogram {
  background: var(--main-text-color);
  width: 5rem;
  height: 12.5rem;
  transform: skew(-20deg);
  margin-right:7.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-item__parallelogram p {
  color: var(--lighter-text-color);
  font-weight: bold;
  font-size: 5rem;
  transform: skew(20deg);
}


.features-item__title {
  font-size: 2.6rem;
  font-weight: normal;
  max-width: 33.5rem;
}

.features-item__subtitle {
  margin-top: 1.1rem;
  font-size: 1.6rem;
  max-width: 33.5rem;
}

/* APPLICATION */

.application {
  padding: 5.5rem 0;
  margin-top: 13rem;
  background: var(--main-text-color);
  color: var(--lighter-text-color);
  position: relative;
}

.application-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.application-wrapper__img {
  position: absolute;
  top: -2rem;
  right: 12.5rem;
}

.application__parallelogram-1 {
  position: absolute;
  height: 6rem;
  width: 5rem;
  transform: skew(20deg);
  top: -4.5rem;
  right: 42rem;
  z-index: 11;
  background: var(--main-blue-color);
} 

.application__parallelogram-2 {
  position: absolute;
  height: 11rem;
  width: 8rem;
  transform: skew(-20deg);
  top: 5rem;
  right: 15rem;
  z-index: 1;
  background: var(--second-dark-color);
} 

.application__parallelogram-3 {
  position: absolute;
  height: 19rem;
  width: 13rem;
  transform: skew(-20deg);
  bottom: 0;
  right: 30rem;
  z-index: 1;
  background: var(--second-dark-color);
} 

.application__title {
  font-size: 2.8rem;
  max-width: 81.3rem;
}

.application-form {
  margin-top: 3.7rem;
  margin-bottom: 1.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.application-form__input {
  outline: none;
  background: var(--second-dark-color);
  border: none;
  max-width: 36rem;
  padding: 2.1rem 22.2rem 2.7rem 3rem;
  font-size: 1.8rem;
  color: var(--lighter-text-color);
}

.application-form__btn {
  outline: none;
  background: var(--main-blue-color);
  border: none;
  max-width: 36rem;
  padding: 2.1rem 11.1rem;
  font-size: 1.8rem;
  color: var(--lighter-text-color);
}

.application__description {
  font-size: 1.4rem;
}