// Text
$main-text-color: #533738;
$second-text-color: #FFF;

// Button
$btn-bg-color: #CC8B86;
$btn-text-color: #533738;
$btn-hover-bg-color: #E2C4BA;

// Background
$main-bg-color: #EFE6E4;
$darker-bg-color: #8D7370;
$lighter-bg-color: #E2C4BA;

// Card
$card-bg-color: rgba(100, 72, 69, .8);