// Text
$main-text-color: #533738;
$second-text-color: #FFF;

// Button
$btn-bg-color: #CC8B86;
$btn-text-color: #533738;
$btn-hover-bg-color: #E2C4BA;

// Background
$main-bg-color: #E5E5E5;
$darker-bg-color: #8D7370;
$lighter-bg-color: #E2C4BA;