@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  color: #533738;
}

ul {
  list-style: none;
}

a,
p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #533738;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

.btn {
  font-size: 2rem;
  background: #CC8B86;
  color: #533738;
  border: 0;
  outline: none;
  padding: 25px 65px;
  transition: 0.5s;
  cursor: pointer;
}
.btn:hover {
  background: #E2C4BA;
}

.card {
  position: relative;
}
.card-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.5s ease-in-out;
  z-index: 1;
  padding: 85px 35px;
  background: rgba(100, 72, 69, 0.8);
  color: #FFF;
}
.card-overlay__title {
  text-align: center;
  margin-bottom: 30px;
}
.card-overlay__subtitle {
  line-height: 2;
}
.card-overlay:hover {
  opacity: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.projects {
  background: #EFE6E4;
  padding: 65px 0;
}
.projects__title {
  text-transform: uppercase;
  margin-bottom: 40px;
}
.projects__dlc {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 40px;
}
.projects__dlc h3 {
  padding-right: 10px;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.projects-container .card:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.projects-container .card:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.projects-container .card:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.projects-container .card:nth-child(4) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.command {
  background: #E2C4BA;
  padding: 50px 0;
}
.command__title {
  text-transform: uppercase;
  text-align: center;
}
.command-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
.command-card {
  max-width: 320px;
}
.command-card p {
  line-height: 2;
  margin-top: 10px;
}
.command-work__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.command-work-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.command-work-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 285px;
}
.command-work-card__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  background: #8D7370;
  border-radius: 50%;
  font-size: 3rem;
  color: #FFF;
}
.command-work-card__description {
  text-align: center;
  line-height: 2;
  margin-top: 20px;
}

.about {
  background: #EFE6E4;
  padding-top: 65px;
}
.about__title {
  margin-bottom: 40px;
  text-align: center;
}
.about-content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-bottom: 21px;
}
.about-content__img {
  height: 465px;
  width: 444px;
}
.about-content__text {
  max-width: 528px;
  line-height: 2;
}
.about-footer {
  background: #8D7370;
  padding: 65px 0;
}
.about-footer__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-footer__list-item {
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
}
.about-footer__list-item p:first-child {
  font-size: 5rem;
}
.about-footer__list-item p:last-child {
  font-size: 3rem;
}

.header {
  min-height: 100vh;
  background: url("../assets/headerBg.jpg") center center no-repeat;
  background-size: cover;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.header-nav__logo {
  width: 90px;
  height: 25px;
  margin-right: 90px;
}
.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-content {
  padding-top: 91px;
  padding-bottom: 168px;
  padding-left: 5.8333333333%;
}
.header-content__title {
  max-width: 534px;
  margin-bottom: 24px;
}
.header-content__subtitle {
  max-width: 424px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.reviews {
  padding: 35px 0;
  background: #EFE6E4;
}
.reviews__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.reviews-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.reviews-container__back-arrow {
  transform: rotate(180deg);
}
.reviews-container__back-arrow, .reviews-container__forward-arrow {
  height: 72px;
  width: 72px;
  background: #E2C4BA;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.reviews-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.reviews-card__description {
  max-width: 407px;
  line-height: 2;
  margin-right: 20px;
}
.reviews-card-imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.reviews-card-imgs img:first-child {
  margin-bottom: 20px;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background: #8D7370;
}
.contact-form {
  max-width: 508px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: #FFF;
}
.contact-form__title {
  margin-top: 50px;
  margin-bottom: 20px;
}
.contact-form__subtitle {
  line-height: 2;
  margin-bottom: 24px;
  max-width: 460px;
}
.contact-form__input {
  background: none;
  outline: none;
  border: none;
  width: 100%;
  border-bottom: 1px #FFF solid;
  line-height: 2;
  font-size: 1.8rem;
  color: #FFF;
  margin-top: 20px;
}
.contact-form__input::-moz-placeholder {
  color: #FFF;
}
.contact-form__input:-ms-input-placeholder {
  color: #FFF;
}
.contact-form__input::placeholder {
  color: #FFF;
}
.contact-form__btn {
  margin-top: 40px;
}

.footer {
  background: #EFE6E4;
  padding: 37px 0;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=main.css.map */